.footer {
  background: var(--color-black);
  color: var(--color-white);
  padding: 12px 20px 24px 22px;
  width: 100%;
  z-index: 10;
  bottom: 0;

  &__container {
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (max-width: 569px) {
      flex-direction: column;
    }
  }

  &__copy {
    font-size: 15px;
  }
}
