.home-tile {
  max-width: 500px;
  padding: 24px 55px;
  margin: 0 auto 40px;
  display: inline-block;
  vertical-align: top;

  @media (max-width: 1100px) {
    display: block !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (max-width: 975px) {
    max-width: none !important;
  }
}
