.main-header {
  background-color: var(--color-orange);

  &__logo {
    flex-grow: 1;

    @media screen and (max-width: 767px) {
      margin: 0px;
    }
  }

  &__image {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  &__title {
    background-image: none !important;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
