.pagination {
  margin: auto;
  padding: 0 32px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}

.page-numbers {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid var(--color-orange);
  padding: 0 10px;
  border-radius: 5px;
  background-size: 200% 100%;

  span& {
    background: var(--color-orange);
    color: var(--color-white);
  }
}
